.navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-header {
    margin-top: 18px;
    margin-left: 40px; 
}

.navbar-business-reg {
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-primary);
}

.navbar__avatars {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 18px;
}

.avatars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notification {
    margin-right: 24px;
}


 .initials {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #77B94E;
    width: 40px;
    height: 40px;
    background: #F2F4F7;
    border-radius: 200px;
    padding-top: 10px;
    margin-right: 8px;
}

 .name {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    white-space: nowrap;
    text-align: center;
    margin-right: 8px;
}

.icon {
    width: 10px;
    height: 5px;
}